*.html linguist-detectable=false
*.json linguist-detectable=false
*.js linguist-detectable=false
server/storage/snapshots/** linguist-generated=true
frontend/web/** linguist-generated=true
frontend/build/** linguist-generated=true
